@import '@/assets/styles/global/variables.less';

.hero-panel {
  border:none;
  // background: rgba(255, 255, 255, 0.6);
  // border: 0.0625rem solid rgba(150, 156, 170, 0.2);
  background: none;

  :deep(.el-card__body) {
    padding: 0.5rem;
  }

  img {
    width: 100%;
    display: block;
    border-radius: 1.2rem;
    object-fit: cover;
    min-height: 22rem;
  }
}
